<ion-header>
  <ion-toolbar>
    <ion-title>
      Test Emploi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="container">
    <div *ngFor="let emploi of emplois" class="card border-primary mx-auto" style="max-width: 18rem;">
      <div class="card-header center">{{ emploi.title }}</div>
      <div class="card-body text-primary">
          <div class="row">
            <div class="col-4">
              <p>{{ emploi.title }}</p>
            </div>
            <div class="col-4 offset-4">
              <p>{{ emploi.date }}</p>
            </div>
          </div>
          <div class="row center">
            <p class="center">{{ emploi.description }}</p>
          </div>
      </div>
      <div class="row">
          <div class="col-4">
              <button type="button" class="btn btn-success">Postuler</button>
          </div>
          <div class="col-4 offset-4">
            <button type="button" class="btn btn-primary">Detail</button>
          </div>
        </div>
    <br>
    </div>
  </div>
</ion-content>