<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div
      style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"
      class="chartjs-size-monitor">
      <div class="chartjs-size-monitor-expand"
        style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
        <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
      </div>
      <div class="chartjs-size-monitor-shrink"
        style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
        <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
      </div>
    </div>
    <!-- Content Column -->
    <div class="col-lg-6 mb-4">  
       <!-- Illustrations -->
       <div class="card shadow md-12">
         <div class="card-header py-3">
           <h6 class="m-0 font-weight-bold text-primary">{{ listeTestId.title }}</h6>
         </div>
          <section class="card-body row" >  
                    <div class="col-md-6">
                    <p>{{listeTestId.description}}</p>
                    </div> 
                    <div class="col-md-3">
                      <div class="card bg-warning text-white shadow">
                        <div class="card-body">
                          Formateur
                          <div class="text-white-50 small">{{ listeTestId.trainers }}</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="card bg-warning text-white shadow">
                        <div class="card-body">
                          modules
                          <div class="text-white-50 small">{{listeTestId.modules}}</div>
                        </div>
                      </div>
                    </div> 
          </section> 
          <div class="row">
              <div class="col-lg-6 mb-4">
                <div class="card bg-primary text-white shadow">
                  <div class="card-body">
                    date debut
                    <div class="text-white-50 small">{{ listeTestId.start}}</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 mb-4">
                <div class="card bg-primary text-white shadow">
                  <div class="card-body">
                    date fin
                    <div class="text-white-50 small">{{ listeTestId.end}}</div>
                  </div>
                </div>
              </div>
          </div> 
              <a class="btn btn-success" [routerLink]="['list-student']">ici liste de s students</a>
              <a class="btn btn-success" [routerLink]="['stats']">ici Stats</a>  
         </div>
       </div>
    <div class="col-lg-6 mb-4">
  <router-outlet></router-outlet>
    </div>  
  </main>
