<div class="container">
  <!-- Outer Row -->
  <div class="row justify-content-center">
    <div class="+">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Bienvenue !</h1>
                </div>
                <form class="user">
                  <div class="form-group">
                    <!-- Pour que les NGmodule fonctionne, il faut importer FormsModule dans app.module -->
                    <ion-input [(ngModel)]="login.email" type="email" class="form-control form-control-user" name="email" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address..."></ion-input>
                  </div>
                  <div class="form-group">
                    <input [(ngModel)]="login.password" type="password" class="form-control form-control-user" name="password" id="exampleInputPassword" placeholder="Password">
                  </div>
                  <a class="btn btn-primary btn-user btn-block" (click)="valid()">
                    Login
                  </a>
                  <hr>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>